body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1310px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1166 {
  position:absolute;
  left:0px;
  top:0px;
}
#u1166_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  background-color:rgba(255, 255, 255, 1);
  background-image:none;
}
#u1166_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:1300px;
  height:5px;
  overflow:hidden;
}
#u1167_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
}
#u1167_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
  line-height:16px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:162px;
  height:79px;
  color:#999999;
  text-align:left;
  line-height:16px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1169_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1169.mouseOver {
}
#u1169_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1169.selected {
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1170_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1170.mouseOver {
}
#u1170_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1170.selected {
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1171_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1171.mouseOver {
}
#u1171_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1171.selected {
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1172_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1172.mouseOver {
}
#u1172_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1172.selected {
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:100px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:18px;
  width:22px;
  height:14px;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:45px;
  height:45px;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  visibility:hidden;
  background-color:rgba(0, 0, 0, 0.698039215686274);
  background-image:none;
}
#u1166_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:1300px;
  height:5px;
  overflow:hidden;
}
#u1176_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:5px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(26, 188, 156, 1);
  background-image:none;
}
#u1176_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:79px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:left;
  line-height:16px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:0px;
  width:162px;
  height:79px;
  color:#CCCCCC;
  text-align:left;
  line-height:16px;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:24px;
  width:162px;
  word-wrap:break-word;
}
#u1178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1178_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1178.mouseOver {
}
#u1178_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1178.selected {
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1179_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1179.mouseOver {
}
#u1179_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1179.selected {
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1180_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1180_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1180.mouseOver {
}
#u1180_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1180.selected {
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:0px;
  width:101px;
  height:80px;
  color:#999999;
  line-height:22px;
}
#u1181_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1181.mouseOver {
}
#u1181_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:80px;
  background:inherit;
  background-color:rgba(26, 188, 156, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  line-height:22px;
}
#u1181.selected {
}
#u1181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:101px;
  word-wrap:break-word;
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:0px;
  width:100px;
  height:75px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:14px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:18px;
  width:22px;
  height:14px;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:17px;
  width:45px;
  height:45px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186 {
  position:fixed;
  right:10px;
  top:50%;
  margin-top:-367.5px;
}
#u1186_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:316px;
  height:335px;
  background-image:none;
}
#u1186_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:170px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1187_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1187.mouseOver {
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:85px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1188_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1188.mouseOver {
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u1189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:0px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1189_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
}
#u1189.mouseOver {
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u1190 {
  position:absolute;
  left:0px;
  top:0px;
  visibility:hidden;
}
#u1190_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:221px;
  height:248px;
  background-image:none;
}
#u1190_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:256px;
  height:230px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:15px;
  width:246px;
  height:220px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  line-height:22px;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:39px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:14px;
  width:106px;
  height:39px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  word-wrap:break-word;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:38px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:187px;
  width:200px;
  height:38px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  line-height:20px;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-1px;
  width:196px;
  word-wrap:break-word;
}
#u1195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(13, 185, 54, 1);
  border:none;
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:19px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  word-wrap:break-word;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:129px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:58px;
  width:129px;
  height:129px;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:28px;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:255px;
  width:80px;
  height:80px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:28px;
}
#u1197_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
  background:inherit;
  background-color:rgba(112, 112, 112, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
  line-height:28px;
}
#u1197.mouseOver {
}
#u1197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:14px;
  width:80px;
  word-wrap:break-word;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:1300px;
  top:0px;
  width:10px;
  height:10px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1176px;
  width:1300px;
  height:80px;
  overflow:hidden;
}
#u1200_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1300px;
  height:80px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(50, 50, 50, 1);
  background-image:none;
}
#u1200_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1176px;
  width:416px;
  height:80px;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:20px;
  width:401px;
  word-wrap:break-word;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1176px;
  width:190px;
  height:80px;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:1199px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:1176px;
  width:190px;
  height:80px;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1206_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1206.mouseOver {
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:1199px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1210_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1210 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1176px;
  width:190px;
  height:80px;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1210_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1210.mouseOver {
}
#u1210_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u1212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:1199px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1060px;
  top:1176px;
  width:190px;
  height:80px;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1214_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u1214.mouseOver {
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1070px;
  top:1199px;
  width:35px;
  height:35px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u1217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:80px;
  width:1200px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
  line-height:28px;
}
#u1217_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:1180px;
  word-wrap:break-word;
}
#u1220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:892px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:32px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:230px;
  width:850px;
  height:892px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
  line-height:32px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:810px;
  word-wrap:break-word;
}
#u1221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:330px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
  line-height:24px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:330px;
  height:330px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
  line-height:24px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:330px;
  word-wrap:break-word;
}
#u1222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:850px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:150px;
  width:850px;
  height:80px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-style:normal;
  text-align:left;
  line-height:36px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:830px;
  word-wrap:break-word;
}
#u1223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1118px;
  top:173px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:173px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
#u1225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:1198px;
  top:173px;
  width:30px;
  height:30px;
  font-family:'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#999999;
  text-align:center;
}
#u1225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:30px;
  word-wrap:break-word;
}
